<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swg.jalinatm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/atm_logo_blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/atm_logo_blue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_page_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:label="@string/home_page_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="client"
                    android:scheme="kubis" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.jalin.com"
                    android:pathPrefix="/ticket"
                    android:scheme="http" />
                <data
                    android:host="jalin.com"
                    android:pathPrefix="/ticket"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".TicketDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ATMListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

        <activity android:name=".ATMDetailActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".FeedbackActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar.MinWidth"/>
        <service
            android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/atm_logo_blue" />
    </application>

</manifest>